[Unit]
Description=send video and audio from the H264 usb camera
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/pinetcam/send_webcam.sh h2640 2> /dev/null > /dev/null
Restart=always
RestartSec=3s
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
